<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mageants" translate="label" sortOrder="90">
            <label>Mageants</label>
        </tab>
         <section id="FrontOrderComment"  showInDefault="1" showInWebsite="1" showInStore="1">
            <tab>mageants</tab>
            <label>Order Comment</label>
            <resource>Mageants_FrontOrderComment::config_mageants_frontordercomment</resource>
            <group id="module"  showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="ordercomment" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Order Comment </label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="notice_message" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Notice Message</label>
                </field>
			</group>
        </section>
	</system>
</config>
